html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after{
    box-sizing: inherit;
  }
  
  a{
    color: inherit;
    text-decoration: none;
  }

  li{
    list-style: none;

  }


.wrapper{
  max-width: 1440px;
    margin: 0 auto;
}

.container{
    max-width: 1220;
    margin: 0 auto;
    padding: 0 10px;
}

body{
   font-family: 'DM Sans', sans-serif;
   font-weight: normal;
   font-size: 18px;
/*font-family: 'Montserrat', sans-serif;
font-family: 'Questrial', sans-serif; */
}


.header__main-image{
  background-color: #ECDDFF;
}

h1{
  font-size: inherit;
}

.header__top{
  display: flex;
}

.menu__items{
  display: flex;
}

.header__main{
  display: flex;
}

.about__items{
  display: flex;
}

.plan__inner{
  display: flex;
}

.starvation__inner{
  display: flex;
}

.management__inner{
  display: flex;
}

.option__cards{
  display: flex;
}

.footer{
  background-color: #261647;
}

.footer__inner{
  display: flex;
}